
@{
    ViewBag.Title = "ErrorPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>
<div>
    @if (this.ViewData != null && this.ViewData["ErrorMessage"] != null)
    {
        <div>
            @Html.Raw(this.ViewData["ErrorMessage"])
        </div>
    }
</div>
