@using WSS.CustomerApplication.Properties
@{
    ViewBag.Title = "HttpError400";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <center>
        <h1 style="color: dodgerblue;">400</h1>
        <br />
        <p style="font-size: xx-large;color: dodgerblue;">
            @Resources.ErrorView_HttpError400_Requested_page_is_not_found
        </p>
    </center>
</div>
