@using WSS.CustomerApplication.Properties
@{
    ViewBag.Title = "HttpError500";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <p>
        @Resources.ErrorView_HttpError500_There_is_an_error_occured
    </p>
</div>

