@using WSS.CustomerApplication.Properties
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.SharedView_Error_Error</title>
</head>
<body>
    <hgroup>
        <h1>@Resources.SharedView_Error_Error</h1>
        <h2>@Resources.SharedView_Error_An_error_occurred_while_processing_your_request</h2>
    </hgroup>
</body>
</html>