@model WSS.InternalApplication.Models.LinkedUtilityAccountViewModel



        <h4>Intercepted Bill / Reminder Notice Listing</h4>

       
            <div class="col-md-4">
                <div class="row" style="margin-top:10px">
                    <div class="col-md-5">
                        <label for="changeEmail1">Intercept Code:</label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control input-sm" placeholder="i am a residential property owner/tenant reponsible for" id="">
                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-md-5">
                        <label for="changeEmail1">Account no:</label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control input-sm" placeholder="i am a residential property owner/tenant reponsible for" id="">
                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-md-5">
                        <label for="changeEmail1">Route Type: </label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control input-sm" placeholder="i am a residential property owner/tenant reponsible for" id="">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row" style="margin-top:10px">
                    <div class="col-md-5">
                        <label for="changeEmail1">Issued</label>
                    </div>
                </div>
                <div class="row " style="margin-top:10px">
                    <div class="col-md-5">
                        <input type="radio" id="amount_25" name="amount" value="25"><label for="changeEmail1">  last </label>
                    </div>
                    <div class="col-md-7">
                        <input type="date" id="xs" name="myUtility" class="form-control" title="My Utility Account Number:" value="" />
                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-md-5">
                        <input type="radio" id="amount_25" name="amount" value="25"><label for="changeEmail1">Between</label>
                    </div>
                    <div class="col-md-7">
                        <input type="date" id="xs" name="myUtility" class="form-control" title="My Utility Account Number:" value="" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row" style="margin-top:10px">
                    <div class="col-md-5">
                        <label for="changeEmail1">Status:</label>
                    </div>
                    <div class="col-md-7 ">
                        <input type="text" style="margin-left:10px;" colspan="3" class="form-control" placeholder="i am a residential property owner/tenant reponsible for" id="">
                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-7">

                    </div>
                </div>
                <div class="row fadeshow1" style="margin-top:40px">
                    <div class="col-md-5">
                        <input type="radio" id="amount_25" name="amount" value="25"><label for="changeEmail1">and</label>

                    </div>
                    <div class="col-md-7">
                        <input type="date" id="xs" name="myUtility" class="form-control" title="My Utility Account Number:" value="" />
                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-7">
                        <button type="button" class="btn btn-primary">Search </button>
                        <button type="button" class="btn btn-primary"> clear</button>
                    </div>
                </div>
            </div>
            <div class="table">
                <table class="table">
                    <h4>Advanced Search</h4>
                    <thead>
                        <tr>
                            <th>Intercept Code</th>
                            <th>Route Type</th>
                            <th>Account No</th>
                            <th>Date Issued</th>
                            <th>Customer Name</th>
                            <th>Document ID</th>
                            <th>Status</th>
                            <th>Processed By</th>
                            <th>Processed Date</th>
                        </tr>
                    </thead>
                </table>
            </div>
          