
@using WSS.CustomerApplication.Properties
<section id="resetPasswordForm" class="col-sm-9">

    <div class="row">
        <h3>@Resources.PasswordView_LinkExpired_Forgot_Password</h3>

        <p>@Resources.PasswordView_LinkExpired_We_are_sorry_but_your_Forgot_password_link_has_expired </p>
        <p>@Resources.PasswordView_LinkExpired_You_may_request_another_Forgot_password_link_again_To_do_so_please_click <a href="javascript:void(0);" onclick='alert("Work in progress");'>@Resources.PasswordView_LinkExpired_here</a></p>


    </div>

</section>