<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CoreComponent.Properties.Settings.Delhi10ConnectionString"
            connectionString="Data Source=NITINKSHIRSAGAR;Initial Catalog=Delhi10;User ID=sa;Password=india@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>