<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="BaseUrl" value="http://wwduat3/UtilityPortal/" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="WSS.Email.Service.BypassEmailQueue" value="true" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="WSS.LDAP.Bypass" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="WssApplication" connectionString="data source=cowsvdsdb120\wwdsqld11;initial catalog=WssApplicationUAT;User Id=WSSUATUser; Password=PassForTheUATBox;Pooling=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="WDDCommonDB" connectionString="data source=cowsvdsdb120\wwdsqld11;initial catalog=WWDCommonUAT;User Id=WSSUATUser; Password=PassForTheUATBox;Pooling=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="UtilityBillingDB" connectionString="data source=cowsvdsdb120\wwdsqld11;initial catalog=UtilityBillingUAT;User Id=WSSUATUser; Password=PassForTheUATBox;Pooling=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="WssIdentity" connectionString="data source=cowsvdsdb120\wwdsqld11;initial catalog=WssIdentityUAT;User Id=WSSUATUser; Password=PassForTheUATBox;Pooling=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5" xdt:Transform="Replace" />
    <httpRuntime targetFramework="4.5" xdt:Transform="Replace" />
    <customErrors mode="Off" xdt:Transform="Replace" />
  </system.web>
</configuration>